{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Test Stock</title>

    <link rel="stylesheet" href="{% static 'css/cadastro_produto.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css">
    {% block extra_css %}{% endblock %}
</head>

<body>

<div class="sidebar">

    <div class="sidebar-logo">
          Test Stock
    </div>

    <nav class="sidebar-menu">

    <a href="{% url 'dashboard' %}" class="menu-item {% if request.path == '/dashboard/' %}active{% endif %}">
        <i class="fi fi-br-chart-line-up"></i>
        <span>Dashboard</span>
    </a>

    <a href="{% url 'cadastro_de_produtos' %}" class="menu-item {% if '/cadastroItem/' in request.path %}active{% endif %}">
        <i class="fi fi-br-box"></i>
        <span>Produtos</span>
    </a>
    
    <a href="{% url 'ai_assistant' %}" class="menu-item {% if '/ai-assistant/' in request.path %}active{% endif %}">
        <i class="fi fi-br-brain"></i>
        <span>IA Assistente</span>
    </a>

    <a href="#" class="menu-item">
        <i class="fi fi-bs-truck-moving"></i>
        <span>Estoque</span>
    </a>

    <a href="#" class="menu-item">
        <i class="fi fi-br-chart-histogram"></i>
        <span>Relatórios</span>
    </a>

    <a href="#" class="menu-item">
        <i class="fi fi-br-users"></i>
        <span>Usuários</span>
    </a>

</nav>

</div>

<div class="layout">

<header>

    <div class="logo-nome">
    </div>

    <div class="search-container">
        <input type="text"
               name="q"
               placeholder="Buscar produtos..."
               hx-get="{% url 'cadastro_de_produtos' %}"
               hx-trigger="keyup changed delay:400ms"
               hx-target="#resultado">
    </div>

    <div class="user-menu">
        <details>
            <summary class="user-trigger">
                <div class="avatar">US</div>
                Usuário
            </summary>

            <menu class="menu">
                <a href="#">Perfil</a>
                <a href="{% url 'logout' %}">Sair</a>
            </menu>

        </details>
    </div>

</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</div>

<script src="https://unpkg.com/htmx.org@1.9.12"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
